[user]
	email = awkrail01@gmail.com
	name = Taichi Nishimura

[format]
	signoff = true

[core]
	editor = vim

[sendemail]
	smtpencryption = tls
	smtpserver = smtp.gmail.com
	smtpuser = awkrail01@gmail.com
	smtpserverport = 587
